<h1>Sign Up Confirmation</h1>
<h2>Are you sure these values are correct?</h2>

<%= "Email: #{@user.email}" %>
<%= "Name: #{@user.name}" %>

<%= button_to "Yes", {controller: "users", action: "create", params: params.require(:user).permit(:name, :email, :password, :password_confirmation)}, class: 'btn btn-success' %>
<%= button_to "No", {controller: "users", action: "new"} , class: 'btn btn-danger', method: :get %>
